* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	line-height: 1.5;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: #212121;
	background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

p:last-child {
	margin-bottom: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

button {
	cursor: pointer;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

:root {
	line-height: 1.5;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--main-color: #3f51b5;
	--secondary-color: grey;
	--main-box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.1),
		0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}
